/* Css Properties for wrap container*/
.wrap {
  font-family: 'Open sans', sans-serif;
  background: #C0C0C0;
}
/* Css Properties for header*/
.header {
  background-image: url("../images/header8.jpg");
  top: 0;
  position: fixed;
}
/* Css Properties for logo*/
.img_Wipro {
  border-radius:50%;
	position: relative;
}
/* Css Properties for menu items*/
.primary_menu  {
  list-style-type: none;
  font-family: 'Open sans', sans-serif;;
  font-size:25px;
  margin-right: 100px;
  margin-top: 40px;
  color: #333;
}
.primary_menu li {
  display: inline;
  text-shadow : 2px 2px 8px #000000;
  color: #333;
}
.primary_menu li a {
  color: #fff;
  text-decoration: none;
}
.primary_menu li a:hover {
  color: grey;
  text-decoration: none;
}
/* Css Properties for wrap container*/
.Portfolio_Container {
  background: #ACD1E9;
  width: 960px;
  height: 100px;
  font-family: 'Open sans', sans-serif;
  margin-top: 137px;
}
.Portfolio_Container h5 {
  padding-left: 10px;
  padding-top: 10px;
  margin: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}
.Portfolio_Container p {
  display: block;
  margin-top: 10px;
  font-weight: 300;
  color: #777;
  font-size: 18px;
  padding-left: 10px;
  text-align: center;
}
/* Css Properties for main content*/
.Primary {
  margin-top: 20px;
  color: #333;
  font-family: 'Open sans', sans-serif;
}
.Secondary {
  color: #333;
  font-family: 'Open sans', sans-serif;
}
.Ternary {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Open sans', sans-serif;
}
.Robust h4, .Power h4, .IOT h4, .Leverage h4, .Breakdown h4, .Customer_Analytics h4{
  margin-left: 10px;
  font-family: 'Open sans', sans-serif;
  color: #333;
}
.Robust p, .Power p, .IOT p, .Leverage p, .Breakdown p, .Customer_Analytics p{
  margin-left: 10px;
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  color: #333;
}
/* Css Properties for images of main content*/
.img_Robust, .img_Power, .img_IOT,.img_Leverage, .img_Breakdown, .img_Analytics {
	margin : 5px 5px 5px 5px;
	padding : 5px;
	height : 200px;
	width: 280px;
}
.img_OptimizeFinance , .img_DeltaDrone {
  margin: 5px 5px 5px 15px;
  padding: 5px;
  height: 280px;
  width: 420px;
}
.Optimize_Finance h4  {
  margin-left: 15px;
  color: #333;
}
.Optimize_Finance p  {
  margin-left: 15px;
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  color: #333;
}
.Delta_Drone h4 {
  margin-left: 15px;
  color: #333;
}
.Delta_Drone p {
  margin-left: 15px;
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  color: #333;
}
/* Css Properties for site links*/
.site_links li {
  display: inline;
  margin-left: 20px;
  font-family: 'Open sans', sans-serif;
  list-style-type: none;
  font-size:16px;
  color: #777;
}
.site_links li a {
  color: black;
  text-decoration: none;
}
.site_links li a:hover {
  color: grey ;
}
/* Css Properties for social links*/
.social_links li {
  display: inline;
  margin: auto;
  font-family: 'Open sans', sans-serif;;
  list-style-type: none;
  color: #000;
  padding-left: 0px;
  margin-left: 10px;

}
.social_links li a {
  text-decoration: none;
  color: #000;
}
.social_links li a :hover{
  text-decoration: none;
  color: #fff;
}
/* Css Properties for footer*/
.footer {
  background-image: url(../images/header.jpg);
  color: #777;
}
.footer h6 {
  color: black;
  padding-left: 20px;
  margin-top: 30px;
}
.footer_copywright {
  text-align: center;
  font-family: 'Open sans', sans-serif;;
  font-size: 15px;
}
